@import "tailwindcss"; 

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

/* Optional Preline UI Datepicker Plugin */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Plugins */
/* @plugin "@tailwindcss/forms"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Figtree, Helvetica, sans-serif;
}

@theme {
  --color-primary: #92fe6d;
  --color-secondary: #101010; 
}

@layer base {
  html {
    @apply text-red-800;  /* Sets a dark gray as the default text color */
  }
}